._.git
._.gitignore
._.vscode
._readme.md
.vscode/._settings.json
._exercises
._projects
._docs
docs/._p2o
exercises/._P2O.swiftpm
docs/p2o/._class
docs/p2o/._creatingClassInstance
docs/p2o/._defineClass
docs/p2o/._storedProperties
